<!-- Footer -->
<footer class="footer page-footer font-small pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <p align="center" line-height="center"><%= image_tag 'dingkat-sm.png' %></p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
          <div class="text-uppercase">DINGKAT</div>
          <br>
            <ul class="list-unstyled">
              <li>
                <a href="/about-us">About Us</a>
              </li>
              <li>
                <a href="/catering">Catering</a>
              </li>
              <li>
                <a href="#!">Meet The Team</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <div class="text-uppercase">Help</div>
            <br>
            <ul class="list-unstyled">
              <li>
                <a href="/how-it-works">How it works</a>
              </li>
              <li>
                <a href="/faq">FAQ</a>
              </li>
              <li>
                <a href="/contact">Contact Us</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 dingkat
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->