<h1>You are subscribed to</h1>

<% @userSubscriptions.each do |sub| %>
    <%= sub[:name] %> $<%= sub[:price] %> <%= link_to  "Select", subscription_path(sub) %> <br>
<% end %>


<h2><%= link_to  "Back to home", root_path %></h2>