body {
    min-height: 100%;
}

html {
    height: 100%;
}

.navbar {
	padding: 0 20px 0 20px;
}

.container-margin {
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 100px;
	min-height: 500px;
}

.form-row {
	width: 500px;
	margin: 0 auto;
}

form {
	text-align: left;
}

.field {
	margin: 20px;
}