h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
    text-shadow: 2px 2px #d3d3d3;
}

h2 {
    font-family: 'Cabin Sketch', cursive;
        text-shadow: 2px 2px #d3d3d3;
}

button {
    color: #ffffff;
    text-decoration: none;
}

.hero {
	background-image: image-url('dingkat-hero-op55.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 626px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.jumbotron {
	background-image: image-url('dingkat-hero-op55.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 626px;
}

.row {
	margin: 0;
}

.index-row {
	height: 400px;
	margin-top: 50px;
	text-align: center;
	font-size: 22px;
	font-weight: 100;
}

p {
	margin: 10px;
}

#page-title {
	font-family: 'Fredericka the Great', cursive;
	font-size: 40px;
}

#sub-options {
	font-family: 'Cabin Sketch', cursive; 
	font-size: 30px;
	display: inline;
	text-align: left;
	vertical-align: middle;
}

.sub-button {
	font-size: 20px;
	vertical-align: middle;	
}

.card-text {
	line-height: 12px;
	font-family: 'Cabin Sketch', cursive;
	font-size: 18px;
}

.card-title {
	font-family: 'Fredericka the Great', cursive;
	font-size: 25px;
}

// .btn-primary {
// 	background-color: white;
// 	font-family: 'Cabin Sketch', cursive;
// 	text-decoration-color: inherit;
// }

.card {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
}