h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
    text-shadow: 2px 2px #d3d3d3;
}

h2 {
    font-family: 'Cabin Sketch', cursive;
        text-shadow: 2px 2px #d3d3d3;
}

button {
    color: #ffffff;
    text-decoration: none;
}

.hero {
	background-image: image-url('dingkat-hero-op55.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 626px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.index-row {
	height: 350px;
	text-align: center;
	font-size: 22px;
	font-weight: 100;
}

p {
	margin: 10px;
}

#page-title {
	font-family: 'Fredericka the Great', cursive;
	font-size: 40px;
}

#sub-options {
	font-family: 'Cabin Sketch', cursive; 
	font-size: 30px;
	display: inline;
	text-align: left;
	vertical-align: middle;
}

.sub-button {
	font-size: 20px;
	vertical-align: middle;	
}


