<div class="hero">
    <div class="hero-row">
    <div class="col-lg-12 text-center">

        <h1>Ding Dong!</h1>
        <h2>Tingkats prepared from the heart.</h2>
        

    </div>
    </div>
</div>


<div class="index-container">
  <div class="row align-items-center index-row">
    <div class="col">
      <%= image_tag 'ingredients.png' %>
      <p>Only the freshest ingredients</p>
    </div>
    <div class="col">
      <%= image_tag 'cook.png' %>
      <p>Cooked with love in small batches</p>
    </div>
    <div class="col">
      <%= image_tag 'delivery.png' %>
      <p>Free delivery everyday</p>
    </div>
  </div>
</div>
