<div class="hero">
    <div class="hero-row">
    <div class="col-lg-12 text-center">

        <h1>Ding Dong!</h1>
        <h2>Tingkats prepared from the heart.</h2>
        

    </div>
    </div>
</div>


<div class="index-container">
  <div class="row align-items-center index-row">
    <div class="col">
      Only the freshest ingredients
    </div>
    <div class="col">
      Cooked with love in small batches
    </div>
    <div class="col">
      Free delivery everyday
    </div>
  </div>
</div>
