<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
    <% if @user %>
      <h1>Profile</h1>
    <h2>Hello <%= @user.first_name %></h2>
    show menu name here
    <h2><%= link_to  "Edit Profile", edit_user_registration_path , class: "btn btn-primary" %></h2>
<% else %>
    <h2><%= link_to  "Please Login", user_session_path , class: "btn btn-primary" %></h2>
<% end %>
<%= link_to  "Balik Kampong (Back to Home)", root_path , class: "btn btn-primary" %>
</div>
</div>

