<div class="container">
    <div class="row">
    <div class="col-lg-12 text-center">

        <h1><%= @sub.name %></h1>
        <h2>$<%= @sub.price %></h2>

        <button><%= link_to "Subscribe to this", subscribe_path(@sub.id), method: :put %></button>

    </div>
    </div>
</div>